
<a href="/Categoria/Novo" class="btn btn-success pull-right border-0" title="Adicionar uma Categoria">Adicionar</a>
<h4>Lista de Categorias</h4>

<table class="table table-hover table-style text-center">
    <thead>
        <tr>
            <th class="col-md-1">Id</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th class="col-md-1">Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var categoria in ViewBag.Categorias)
        {
            <tr id="tr@(categoria.ID)">
                <td>@categoria.ID</td>
                <td>@categoria.Nome</td>
                <td>@categoria.Descricao</td>
                <td>
                    <a href="/Categoria/Novo/@categoria.ID" title="Editar Categoria" class="btn btn-warning btn-sm"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <button type="button" onclick="deleteTr(@categoria.ID)" title="Excluir Categoria" class="btn btn-sm btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>

    function deleteTr(id) {
        swal({
            title: "Atenção!",
            text: "Ao Excluir essa categoria também sera excluido todos os produtos relacionado a ela!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            confirmButtonText: "Sim, Excluir!",
            cancelButtonText: "Não",
            closeOnConfirm: false,
            closeOnCancel: false
        },
            function (isConfirm) {
                if (isConfirm) {

                    $.ajax({
                        type: "post",
                        url: "/Categoria/Remove",
                        data: { id: id },
                        success: function (data) {
                            $("#tr" + data).remove();
                            swal("Deletado!", "Operação realizada com sucesso.", "success");
                        },
                        error: function (data) {
                            console.log(data);
                            swal("Erro", "Erro ao tenta excluir:" + data, "error");
                        }

                    });
                } else {
                    swal("Cancelado", "Operação realizada com sucesso.", "error");
                }
            });

    }

</script>